<p>
  files works!
</p>

<div class="progessbar">HELLO WELCOME............ </div>
  
  <iframe width="500" height="500"  src="https://docs.google.com/viewer?url=http://writing.engr.psu.edu/workbooks/formal_report_template.doc&rm=minimal&embedded=true" frameborder="0" scrolling="no" seamless="" allowfullscreen="allowfullscreen"> </iframe>

  <object id="frm" data="assets/test1.pdf#view=FitH&toolbar=0&navpanes=0&scrollbar=0" width="500" height="500">You do not have Word installed on your machine</object> 
 
 <img src="assets/logo.png" width="100" height="100"> 